DATABASE_URL="YOUR_CONNECTION_STRING_HERE"
PORT=5000
APP_URL="http://localhost:5000"
BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET="YOUR_ACCESS_SECRET_HERE"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="YOUR_REFRESH_SECRET_HERE"
JWT_REFRESH_EXPIRES_IN="30d"

STRIPE_PRICE_ID="YOUR_STRIPE_PRICE_ID"
STRIPE_SECRET_KEY="YOUR_STRIPE_SECRET_KEY"
STRIPE_WEBHOOK_SECRET="YOUR_STRIPE_WEBHOOK_SECRET"
